@import "tailwindcss";


body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
* {
  font-family: "Poppins", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: rgba(140, 140, 140, 0.2) transparent;
}
th {
  font-weight: 550;
  border: 1px solid rgba(56, 56, 56, 0.565);
}
td {
  border: 1px solid rgb(56, 56, 56, 0.565);
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
